<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>護理控台系統</title>
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <!--<script>
            x=1;
            function change(){
              x++;
               document.getElementById("photo").src="https://www.hosp.ncku.edu.tw/nckm/floor/"+x+"F.jpg";
            }
        </script>-->


    </head>
    <body>
        
            <div id="header">
                
                <div id="logo" >
                    <h1><span>護理控台</span></h1>
                    <h2><form class="NST" method="POST" action="changeNST"  >
                        <select id="NSTdata"name="NSTdata" method="post"  >
                        　<option value="9">09號護理站</option>
                        　<option value="10">10號護理站</option>
                        　<option value="11">11號護理站</option>
                        　<option value="12">12號護理站</option>
                        　<option value="13">13號護理站</option>
                        　<option value="14">14號護理站</option>
                        　<option value="15">15號護理站</option>
                        　<option value="16">16號護理站</option>
                        </select>
                        <input type="submit" value="切換護理站" id="changeNST_btn">
               
                        </form>
                    </h2>
                    <ul id="member">
                        <li class="memberName" id="WD_name">病房主任：XXX</li>
                        <li class="memberName" id="HN_name">護理長：OOO</li>
                    </ul>
                </div>
            </div>
            <nav id="menu">
                <div  >
                    <div>
                        <ul class="nav nav-tabs drop-down-menu">
                            <li><a href="/" accesskey="1" title="">首頁</a></li>
                            <li><a href="#" accesskey="1" title="">公告訊息</a>
                                <ul>
                                    <li><a href="/messagelist" accesskey="1.1" title="">護理站訊息編輯</a></li>
                                    <li><a href="/remindlist" accesskey="1.2" title="">溫馨提醒編輯</a></li>
                                </ul>
                            </li>
                         
                            <li><a href="#" accesskey="2" title="">聯絡資訊</a></li>
                            <li><a href="/exitmap" accesskey="3" title="">逃生資訊</a></li>
                            <li><a href="/shift" accesskey="4" title="">護理排班</a></li>
                            <li><a href="#" accesskey="5" title=""> 白板操作指南</a></li>
                            <li class="logout"><a href="/logout" accesskey="" title="">登出</a></li>
                            <li class="changpwd"><a href="/changepwd" accesskey="" title="">變更密碼</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
            <div style="margin:0 auto; width:1300px; padding:0 10px; overflow:hidden;">

                <script type="text/javascript ">
                    function show1F(){  
                        document.getElementById("1F").style.display="block";
                        document.getElementById("2F").style.display="none"; 
                        img3F.style.display="none"; 
                        img4F.style.display="none"; 
                        img5F.style.display="none";
                        img6F.style.display="none"; 
                        img7F.style.display="none"; 
                        img8F.style.display="none"; 
                        img9F.style.display="none"; 
                        img10F.style.display="none"; 
                        img11F.style.display="none";
                        img12F.style.display="none"; 
                    } 
            
                    function show2F(){  
                    alert("測試");            
            
                    document.getElementById("1F").style.display="none";
                    document.getElementById("2F").style.display="block"; 
                        img3F.style.display="none"; 
                        img4F.style.display="none"; 
                        img5F.style.display="none";
                        img6F.style.display="none"; 
                        img7F.style.display="none"; 
                        img8F.style.display="none"; 
                        img9F.style.display="none"; 
                        img10F.style.display="none"; 
                        img11F.style.display="none";
                        img12F.style.display="none"; 
                    }   
                function test() {
                    alert("測試");  
                }          
                </script>

                <div style="float:left; border:2px blue solid; width:170px;" >
                    <p>一樓</p>
                    <p>二樓</p>
                    <input type="button"  value="新增"  οnclick="show2F()">
                    <button  οnclick="test()">測試</button>
                    <p>三樓</p>
                    <p>四樓</p>
                    <p>五樓</p>
                    <p>六樓</p>
                    <p>七樓</p>
                    <p>八樓</p>
                    <p>九樓</p>
                    <p>十樓</p>
                    <p>十一樓</p>
                    <p>十二樓</p>
                </div>
                <div  style= "margin-left:170px; width:auto;display:block" >
                    <img id="1F" src='https://www.hosp.ncku.edu.tw/nckm/floor/1F.jpg'  width="100%" style= "display:block">
                    <img id="2F" src='https://www.hosp.ncku.edu.tw/nckm/floor/2F.jpg'  width="100%" style= "display:none">
                    <!--<img src="https://depart.femh.org.tw/medical_image/images/2F%E5%B9%B3%E9%9D%A2%E5%9C%96.jpg" style="display:block; margin:auto;">-->
                </div>

                <div style="clear:both;"></div>
                
            </div>
        </body>
            

</html>