<!DOCTYPE html>
<html>
    <head>
<<<<<<< HEAD
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
=======
>>>>>>> parent of d487ab1... 登入畫面
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" media="all" />
      </head>
      <body>
        
<<<<<<< HEAD
            <div id="logo" >
                <h1><span>護理控台</span></h1>
                <h2><span>10號護理站</span></h2>
=======
            <div id="logo" class="container">
                <h1><a href="#" class="icon icon-spinner"><span>護理控台</span></a></h1>
>>>>>>> parent of d487ab1... 登入畫面
            </div>
            <div id="header">
                <div id="menu" class="container">
                    <ul >
<<<<<<< HEAD
                        
                        <li><a href="#" accesskey="1" title="">首頁</a></li>
                        <li><a href="#" accesskey="1" title="">公告訊息</a></li>
                        <li><a href="#" accesskey="2" title="">聯絡資訊</a></li>
                        <li><a href="#" accesskey="3" title="">逃生資訊</a></li>
                        <li><a href="#" accesskey="4" title="">護理排班</a></li>
                        <li><a href="#" accesskey="5" title=""> 白板操作指南</a></li>
=======
                        <li class="current_page_item" ><a href="" accesskey="1" title=""style="-webkit-box-flex: 1;">首頁</a></li>
                        <li><a href="#" accesskey="1" title="">Services</a></li>
                        <li><a href="#" accesskey="2" title="">Our Clients</a></li>
                        <li><a href="#" accesskey="3" title="">About Us</a></li>
                        <li><a href="#" accesskey="4" title="">Careers</a></li>
                        <li><a href="#" accesskey="5" title="">Contact Us</a></li>
>>>>>>> parent of d487ab1... 登入畫面
                        <li><a href="login" accesskey="" title="">登入</a></li>
                    </ul>
                </div>
            </div>
<<<<<<< HEAD
            <div class ="Care_Message">
                <ul>
                    <li>需求通報訊息紀錄</li>
                </ul>
=======
            <div id="page-wrapper">
                <div id="banner" class="container"><a href="#"><img src="images/pic06.jpg" width="1200" height="300" alt="" /></a></div>
                <div id="featured" class="container">
                    <div class="box">
                        <div class="title">
                            <h2>Recent Updates</h2>
                        </div>
                        <p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.</p>
                    </div>
                    <div id="box1"> <a href="#"><img src="images/pic01.jpg" alt="" /></a>
                        <h2 class="subtitle">Donec dictum metus</h2>
                        <p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipiy.</p>
                        <ul class="contact">
                            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
                            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
                            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
                        </ul>
                    </div>
                    <div id="box2"> <a href="#"><img src="images/pic02.jpg" alt="" /></a>
                        <h2 class="subtitle">Etiam posuere augue</h2>
                        <p>Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit.</p>
                        <ul class="contact">
                            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
                            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
                            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
                        </ul>
                    </div>
                    <div id="box3"> <a href="#"><img src="images/pic03.jpg" alt="" /></a>
                        <h2 class="subtitle">Nulla luctus eleifend</h2>
                        <p>Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi.</p>
                        <ul class="contact">
                            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
                            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
                            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
                        </ul>
                    </div>
                    <div id="box4"> <a href="#"><img src="images/pic04.jpg" alt="" /></a>
                        <h2 class="subtitle">Fusce ultrices fringilla </h2>
                        <p>Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend.</p>
                        <ul class="contact">
                            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
                            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
                            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
                        </ul>
                    </div>
                </div>
                <div id="page" class="container">
                    <div id="content">
                        <div class="title">
                            <h2>Welcome <span class="byline">to our website</span></h2>
                        </div>
                        <p>This is <strong>SquareAway</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
                        <a href="#" class="button icon icon-arrow-right">Learn More</a>
                    </div>
                    <div id="sidebar"><a href="#"><img src="images/pic05.jpg" width="588" height="250" alt="" /></a></div>
                </div>
            </div>
            <div id="footer-wrapper">
                <div id="footer" class="container">
                    <div id="fbox1">
                        <h2>Maecenas luctus</h2>
                        <p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum.</p>
                        <a href="#" class="button icon icon-arrow-right">Learn More</a> </div>
                    <div id="fbox2">
                        <h2>Integer gravida</h2>
                        <p>Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris.</p>
                        <a href="#" class="button icon icon-arrow-right">Learn More</a> </div>
                    <div id="fbox3">
                        <h2>Praesent scelerisque</h2>
                        <p>Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend.</p>
                        <a href="#" class="button icon icon-arrow-right">Learn More</a> </div>
                    <div id="fbox4">
                        <h2>Etiam rhoncus volutpat</h2>
                        <p>Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper eleifend.</p>
                        <a href="#" class="button icon icon-arrow-right">Learn More</a> </div>
                </div>
            </div>
            <div id="copyright">
                <p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
>>>>>>> parent of d487ab1... 登入畫面
            </div>
            </body>

</html>