<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" media="all" />
      </head>
      <body>
        
            <div id="logo" class="container">
             
                <h1><span>護理控台</span></h1>
                <h2><span>10號護理站</span></h2>
            </div>
            <div id="header">
                <div id="menu" class="container">
                    <ul >
                        <li ><a href="" accesskey="1" title="">首頁</a></li>
                        <li><a href="#" accesskey="1" title="">Services</a></li>
                        <li><a href="#" accesskey="2" title="">Our Clients</a></li>
                        <li><a href="#" accesskey="3" title="">About Us</a></li>
                        <li><a href="#" accesskey="4" title="">Careers</a></li>
                        <li><a href="#" accesskey="5" title="">Contact Us</a></li>
                        <li><a href="login" accesskey="" title="">登入</a></li>
                    </ul>
                </div>
            </div>
           <div></div>
            </body>

</html>