<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>登入</h1>
    <p>Welcome to <%= title %></p>
    <button><a href=http://localhost:3000>返回首頁</a></button>
    <form>
        <label for="fname">帳號:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">密碼:</label><br>
        <input type="text" id="password" name="password">
        <input type="submit" value="Submit">
        <input type="reset">
      </form>
 
  </body>
</html>
