<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>護理控台系統</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>






    <div id="header">

        <div id="logo">
            <h1><span>護理控台</span></h1>
            <h2>
                <form class="NST" method="POST" action="changeNST" name="NST">

                    <select id="NSTdata" name="NSTdata" method="post" onChange=Do_Query(this.value)>

                        <option name="changeselect" value="" selected>當前護理站:<%=changeselect%></option>
                        　<option value="9">9號護理站</option>
                        　<option value="10">10號護理站</option>
                        　<option value="11">11號護理站</option>
                        　<option value="12">12號護理站</option>
                        　<option value="13">13號護理站</option>
                        　<option value="14">14號護理站</option>
                        　<option value="15">15號護理站</option>
                        　<option value="16">16號護理站</option>
                    </select>
                </form>
            </h2>
            <ul id="member">
                <li class="memberName" id="WD_name">病房主任：XXX</li>
                <li class="memberName" id="HN_name">護理長：OOO</li>
                <li class="memberName" id='user'>當前使用者:<%=user%></li>
            </ul>
        </div>
    </div>
    <nav id="menu">
        <div>
            <div>
                <ul class="nav nav-tabs drop-down-menu">
                    <li><a href="/" accesskey="1" title="">首頁</a></li>
                    <li><a href="#" accesskey="1" title="">公告訊息</a>
                        <ul>
                            <li><a href="/messagelist" accesskey="1.1" title="">護理站訊息編輯</a></li>
                            <li><a href="/remindlist" accesskey="1.2" title="">溫馨提醒編輯</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact" accesskey="2" title="">聯絡資訊</a></li>
                    <li><a href="/exitmap" accesskey="3" title="">逃生資訊</a></li>
                    <li><a href="/shift" accesskey="4" title="">護理排班</a></li>
                    <li><a href="/spshift" accesskey="5" title="">專師排班</a></li>
                    <li><a href="/NSTedit" accesskey="5" title=""> 護理站編輯</a></li>
                    <li class="logout"><a href="/logout" accesskey="" title="">登出</a></li>
                    <li class="changpwd"><a href="/changepwd" accesskey="" title="">變更密碼</a></li>
                </ul>
            </div>
            <form name="addform" action="/new_remind" method="post" accept-charset="utf-8">
                <div style="width:300px;height:20px;margin-left:25%;margin-right:25%;margin-top: 3%;">
                    <div>
                        <span style="font-family:DFKai-sb;margin-right:5px; font-size:25px;">選擇護理站</span>
                        <br>
                        <select style="font-size:15px;" name="NST" required>
                            <option selected="selected" disabled="disabled" style='display: none' value=''></option>
                            <option value="09">9號護理站</option>
                            <option value="10">10號護理站</option>
                            <option value="11">11號護理站</option>
                            <option value="12">12號護理站</option>
                            <option value="13">13號護理站</option>
                            <option value="14">14號護理站</option>
                            <option value="15">15號護理站</option>
                            <option value="16">16號護理站</option>
                        </select>
                    </div>
                    <div>
                        <span style="font-family:DFKai-sb;margin-right:5px; font-size:25px;">是否顯示</span>
                        <br>
                        <select style="font-size:15px;" name="Playing" required>
                            <option selected="selected" disabled="disabled" style='display: none' value=''></option>
                            <option value="1">顯示</option>
                            <option value="0">隱藏</option>
                        </select>
                    </div>
                    <!--<div>
                                <span style="font-family:DFKai-sb;margin-right:15px; font-size:25px;">主題</span>
                                <input type="text" name="欄位名稱"  style="width:300px;height:30px;">
                            </div>-->
                    <div>
                        <span style="font-family:DFKai-sb;margin-right:5px; font-size:25px;">內容</span>
                        <input type="text" name="BBCon" style="width:150%;height:25em;">
                    </div>
                    <br>
                    <div>
                        <button type="submit">確認送出</button>
                        <button type="reset">清除重填</button>
                        <input type="button" value="返回" onclick="javascript:location.href='remindlist'">
                    </div>
                </div>
            </form>
        </div>
    </nav>

</body>


</html>