
	
	body
	{
		margin: 0px,auto;
		padding: 0px,20px,20px,20px;
		background: #EFEFEF url(images/bg01.png) repeat;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
	
		color: white;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 20px,0;
		color: black;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
		color: #525252;
	}
	


	.container
	{
		margin: 0px, auto;
		width: auto;
		height: 12vh;
        
	}
	.Care_Message{
		width: 20vw;
		 height: 100vh;
		 background-color:gray;
	}
	body,ul,li{
        margin: 0;
        padding: 0;
}
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.10em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 30px;
		height: 30px;
		background: #3f3f3f;
		line-height: 30px;
		text-align: center;
		color: #FFFFFF;
	}
	
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/


		
/*********************************************************************************/
/* Header 選單                                                                        */
/*********************************************************************************/

	#header
	{
		background: #56BD78;
		border-top: 1px solid #47A665;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 1em 1em;
		width: 100%;
		height: 16vh;
	}

	#logo h1
	{
		text-align:start;
		font-weight: 900;
		font-size: 2.5em;
		height: 8vh;
	}
	
	#logo h2
	{
		text-align:start;
		font-weight: 900;
		font-size: 2.5em;
		height: 8vh;
	}


	#logo span
	{
		padding: 1em 0em 1em 0.5em;
	}
	

	#logo a 
	{
		color: black;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
        width:auto;height:auto;
		margin: 0;
		padding: 10px 0px 10px 0px;
		font-size: 18pt;
		
		
		-webkit-box-orient: horizontal;
	
		text-align: center;
	}
	
	#menu li
	{
		float: left;
		display: table-cell ;
		
		
	}
	#menu .login {
		width:20%;
		float:right;
		display:table-cell;
	}
	#menu a 
	{
		display: block;
		padding: 1em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		color: #FFF;
	}
	
	#menu .current_page_item a
	{
		background: #7BDB99;
		color: #FFF;
	}
	
	#menu a:hover
	{
		background: #7BDB99;
		text-decoration: none;
		color: #FFF;
	}











