
	body
	{
		margin: 0 auto;
	
		background: #EFEFEF url(images/bg01.png) repeat;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		color: gray;

	}
	
	
	h1, h2, h3
	{
		margin: 0;
	
		width: auto;
		height: 8vh,auto;
		color: #333;
	}
	
	
	 ul
	{
		padding: 0;
		list-style: none;
	}
	

	
	
	a:hover
	{
		text-decoration: none;
	}


	
/*************************************************************/

	#header
	{
		background: #56BD78;
		border-top: 1px solid #47A665;
		height: 40%;
		margin: 0;
		width: 100%;
	}

	#member {
		margin-top: 11px;
		margin: 2px;
		font-size: 20px;
		list-style: none;
		padding: 1em 1em;
		color: black;
	  }

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{

		
		text-transform: uppercase;
		text-decoration: none;
		padding: 1em 1em;
		width: 100%,auto;
		height: 16vh,auto;

	}

	#logo h1
	{
		text-align: start;
		font-weight: 900;
		font-size: 2.5em;
		display: inline-table;

	}
	#logo h2
	{
		text-align:start;
		font-weight: 900;
		font-size: 2.5em;
		height: 8vh;
		display: inline-table;
	}
	
	
	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	ul li {
		display:inline-table;
		padding: 0em 0em 0em 0.5em;
	}
	
	.Care_Message{
	
		 font-size: 20pt;
		 color: black;
		 background-color: #87B3D7;
		height:20vh,auto;
		width:20%,auto;
		float:left;
	
	}
	.Care_Message>.logbar{
		background-color: #f1f1f1;
		width: 80%;
		height: auto;
		margin: 10px;
	
		border: solid;
		padding: 1em,1em;
	
	}
	.Care_Message>.logbar>.patientData{

		width: 100%;
	
		height: 16vh;
		
		border:solid;
	
		position: relative;
		
	}
	.patientData>.BedNO{
		padding: 0,0;
		border: black;
		background-color: cyan;
		font-size: 14px;
		float: left;
		text-align: left;
		vertical-align: 0%;
		position: absolute;
		left: 1px;
		top:1px;
	}
	.patientData>.log{
		padding: 0,0;
		border: black;
		background-color: cyan;
		font-size: 14px;
		float: right;
		text-align: left;
		vertical-align: 0%;
		position: absolute;
		right: 1px;
		top:1px;
	}
	table.detail{
		
		
		border:solid black;
		border-collapse: collapse;
	}
	table th,td{
		border:solid black;
		
	}
	.block_point_item {
		float: right;
		width:80%;
		display: flex;
		flex-direction: column;
		border: black;
		width:80%;
	
	  }
	  .flex-container {
		display: flex;
		
		background-color: DodgerBlue;

	  }
	  
	  .flex-container > div {
		background-color: #f1f1f1;
		width: 80%;
		margin: 10px;
		text-align: center;
		line-height: 75px;
		font-size: 30px;
		
	  }

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
	
	#menu ul
	{
        width:100%,auto;height:10vh,auto;
		margin: 0 auto;
		background-color: cyan;
		-webkit-box-orient: horizontal;
		text-align: center;
		
	}
	

	#menu li .login {
		float: right;
		
	}
	#menu a 
	{
		
		display: block;
		
		
		text-decoration: none;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		color: black;
	}
	

	
	#menu a:hover
	{
		background: #7BDB99;
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/


/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/



